---
import SectionText from "@components/index/sectionText.astro"
---

<section class="mx-auto w-full grid grid-cols-1 md:grid-cols-2 bg-zinc-100">
  <SectionText titleOne="Ingenieria Aplicada en"
  description="Sistemas de pesaje"
              body="Diseñamos y fabricamos básculas y balanzas según la necesidad del cliente bajo desarrollos de software especializado para sistemas de pesaje, de igual forma, automatizamos su actual sistema. ">
  </SectionText>

  <SectionText titleOne="Sistemas de pesaje para "
  description="Tanques, Silos y Tolvas"
              body="En DLP basculas Contamos con la capacidad y la experiencia de adaptar un sistema de pesaje a tanques silos y tolvas para que también cumpla con la función de báscula, así lograra llevar un control sobre estos. ">
  </SectionText>
</section>