<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          Reparacion y Mantenimiento <span class="lg:block"
            >de basculas y balanzas
          </span>
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3"
      >
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
            >
              <ion-icon
                name="people-outline"
                aria-label="scan outline"
                class="hydrated md h-5 w-10"
                role="img"></ion-icon>
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              Contamos con mano de obra especializada
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            En equipos de pesaje y para la reparacion o mantenimientos
            preventivos y correctivos, desarrollamos una serie de procedimientos
            que garantizan alargar la vida de los equipos y prevenir la
            suspensión de las actividades en su empresa
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
            >
              <ion-icon
                name="hammer-outline"
                aria-label="scan outline"
                class="hydrated md h-5 w-10"
                role="img"></ion-icon>
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              Ofrecemos una atención
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Urgente o programada, un diagnostico rápido y veraz, además
            utilizamos repuestos de alta calidad. Estos mantenimientos se
            realizaran a domicilio.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
            >
              <ion-icon
                name="alert-circle-outline"
                aria-label="scan outline"
                class="hydrated md h-5 w-10"
                role="img"></ion-icon>
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              DLP se rige bajo
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Un excelente sistema de gestión de calidad, realizamos los servicios
            de mantenimiento de acuerdo con la Norma Técnica Colombiana NTC 2031
            que cumple con las exigencias de la Superintendencia de Industria y
            Comercio
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
