<section class="bg-headerbg bg-no-repeat bg-contain bg-center h-auto">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
  
        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          DLP BASCULAS INGENIERIA
        </p>
        <p class="text-gray-500 lg:text-l max-w-2xl mt-4 mx-auto text-base">
          Diseñamos y fabricamos básculas según la necesidad del cliente. Instalación y montaje de basculas en silos tanques y tolvas. Ofrecemos repuestos y accesorios para cualquier equipo de pesaje. Venta de pesas patrón clase M, F y E. 
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="/"
          >Ver Catalogo &nbsp; &rarr;
        </a>
      </div>
      
  
    </div>
  
</section>
